#friends-display-link {
  text-align: center;
  display: block;
  background-color: hsl(0, 0%, 98%);
  padding: 15px 0px;
  font-size: 16px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
